<!-- recovery.component.html -->

<div class="recover-container">
  <mat-card class="custom-card">
    <mat-card-header class="custom-card-header">
      <mat-card-title class="custom-card-title" style="margin-bottom: 10px;">Recuperar</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Correo electrónico" type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Contraseña Anterior" type="password" [(ngModel)]="oldpassword" name="oldpassword" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Nueva Contraseña" type="password" [(ngModel)]="newpassword" name="newpassword" required>
        </mat-form-field>

        <button mat-raised-button color="primary" class="custom-button" (click)="recover()">Recuperar</button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <p>¿Ya tienes una cuenta?
        <button mat-raised-button color="secondary" class="custom-button" (click)="toLogin()">Ingresar</button>
      </p>
    </mat-card-actions>

  </mat-card>
</div>
