/* recovery.component.css */
.recover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .custom-card {
    max-width: 400px;
    width: 100%;
  }
  
  .custom-card-header {
    background-color: #673AB7; /* Puedes cambiar esto al color que prefieras */
    color: white;
  }
  
  .custom-card-title {
    font-size: 1.5em;
  }
  
  .full-width {
    width: 100%;
  }
  
  .custom-button {
    margin-top: 20px;
  }
  